# Environment files
.env
.env.*
!.env.example
.env.local
.env.*.local
*.env

# Python & Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.db
*.sqlite3
propvibe.db
backend/uploads/*
!backend/uploads/p[1-3].jpeg
!backend/uploads/p[1-3]i[1-2].jpeg

# Node & Frontend
node_modules/
dist/
dist-ssr/
backend/public/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Testing & Coverage
.coverage
htmlcov/
.pytest_cache/


#ai agents jargon

# AGENTS.md
# GEMINI.md
# README 2.md
# SOUL.md
